body {-webkit-user-select:none;cursor:default;font-size:12px;font-family:"Lucida Sans","Verdana",Arial,Helvetica,sans-serif;line-height:10px;font-weight:200;padding:0px;text-align:center;margin:0 auto;width:100%;max-width:1200px;height: 100%;min-height:640px;color:#444; background-color:#444;
background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#444) );
background: -moz-linear-gradient(-90deg, #ccc, #444);
filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#ccc', endColorstr='#444'); background-repeat: no-repeat;background-attachment: fixed;} 

.row {clear:both; padding-bottom:6px;}
.footer {clear:both; padding-top:40px; padding-bottom:40px; width:310px; margin:0 auto; margin-top:40px}
.history {width:310px; margin:0 auto;}

p.error {line-height:20px; color:#F00; }

/* IOS Styled sliders */
input[type="checkbox"] {position: absolute;opacity: 0;}
input[type="checkbox"].ios-switch + div {vertical-align: middle; width:40px;height: 20px;border: 1px solid rgba(0,0,0,.4);border-radius: 999px;-webkit-transition-duration: .4s;-webkit-transition-property: background-color, box-shadow;margin: 6px 1px 6px 1px;}
input[type="checkbox"].ios-switch:checked + div {width: 40px;background-position: 0 0;background-color: #69dc66;border: 1px solid #42b649;box-shadow: inset 0 0 0 10px rgba(80,220,80,1);}
input[type="checkbox"].ios-switch + div {width: 50px;height: 25px;}
input[type="checkbox"].ios-switch + div > div {float: left;width: 23px;height: 23px;border-radius: inherit;background: #fff;-webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1);-webkit-transition-duration: 0.4s;	-webkit-transition-property: transform, background-color, box-shadow;-moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1);-moz-transition-duration: 0.4s;-moz-transition-property: transform, background-color;	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4);pointer-events: none;margin-top: 1px;margin-left: 1px;}
input[type="checkbox"].ios-switch:checked + div > div {-webkit-transform: translate3d(25px, 0, 0);-moz-transform: translate3d(20px, 0, 0);background-color: #ffffff;box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(75,75,75,1);}

h1 {font-weight: 100;font-size: 40px;} 
h2 {font-weight: 200;font-size: 22px;} 
h3 {font-weight: 200;font-size: 18px;} 
a:link {text-decoration:bold;color:#444} 
a:visited {text-decoration:bold;color:#444} 
a:hover {text-decoration:underline;color:#444} 
a:active {text-decoration:underline;color:#444}

.abutton {background: #cacaca;background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#aaa) );background: -moz-linear-gradient(-90deg, #fff, #aaa);filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fff', endColorstr='#aaa');-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;border:0px solid #aaa;display:inline-block;padding:12px 0px; text-decoration:none; margin:0; width:15.5%; min-width:52px; box-shadow:0px 0px 0px 1px #999 inset;}
.abutton-group > .abutton {border-radius: 0;}
.abutton:hover {text-decoration:none !important;}
select.abutton {height:38px;}
table{ text-align:center;}
table, td{padding:0px 0px 0px 0px;}

.span_3 {min-width:330px;float:left;border:1px solid #ccc;background:#cacaca;background:-webkit-gradient(linear,left top,left bottom,from(#fafafa),to(#cacaca));background:-moz-linear-gradient(-90deg,#fafafa,#cacaca);filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fafafa',endColorstr='#cacaca');padding-bottom:20px;}
.span_2 {min-width:330px;float:left;border:1px solid #ccc;background:#cacaca;background:-webkit-gradient(linear,left top,left bottom,from(#fafafa), to(#cacaca));background:-moz-linear-gradient(-90deg,#fafafa,#cacaca);filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fafafa',endColorstr='#cacaca');padding-bottom:20px;}
.span_1 {min-width:330px; loat:left;border:1px solid #ccc;background: #cacaca;background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#cacaca) );background: -moz-linear-gradient(-90deg, #fafafa, #cacaca);filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fafafa',endColorstr='#cacaca');padding-bottom:20px;}

@media only screen and (min-width: 680px) {
.span_3 {float:left;width:100%;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;margin:2px;}
.span_2 {float:left;width: 49%;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;margin:2px;}
.span_1 {float:left;width:32.7%;-moz-border-radius:6px;-webkit-border-radius:6px;border-radius:6px;margin:2px;}
}
@media only screen and (max-width: 1010px) {
.container{max-width:1000px;}
.abutton{min-width:45px}
.span_3 {width: 100%;}
.span_2 {width: 49%;}
.span_1 {width: 49%;}	
}
@media only screen and (max-width: 680px) {
.container{max-width:670px;}
.abutton{min-width:45px}
select.abutton{min-width:50px; padding-left:18px}
.span_3 {width: 100%;margin:0px;}
.span_2 {width: 100%;margin:0px;}
.span_1 {width: 100%;margin:0px;}
}